:root {
    --pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%); 
    --orange-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --green: #4B9200;
    --orange: #F9804B;
    --yellow: #FFEE2E;
    --black-blue: #333B41;
    --gray: #767474;
    --smoky: #ABABAB;
    --light-gray: #F1F3F2;
    --red: #d31414;
    --frosted-glass: #fdfdff;
}

/* forum-regular - latin */
@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum/forum-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/forum/forum-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/forum/forum-v11-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/forum/forum-v11-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/forum/forum-v11-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/forum/forum-v11-latin-regular.svg#Forum') format('svg');
    /* Legacy iOS */
}

/* roboto-100 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-100.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-100.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-100.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-100.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-100.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-300 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-300.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-100italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-100italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-100italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-100italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-100italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-100italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-100italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-300italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-300italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-300italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-300italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-300italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-300italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-300italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-500italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-500italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-500italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-500italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-500italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-500italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-700italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-700italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}


* {
    margin: 0;
    Padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: Roboto;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    background-color: black;


    min-height: 1vh;

}

a {
    text-decoration: none;
    color: inherit;

}

img {
    max-width: 100%;
}

.list-reset {
    list-style-type: none;

}

.btn-reset {
    color: transparent;
    background-color: transparent;
    border:none;
    
    
}



.btn-orange {
    font-size: 16px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #fff;
    
    
}

.btn-orange:hover {
    background: #E47209;
}

.btn-inswept {
    border-radius:25px;
}

.btn-square {
    border-radius: 5px;
    padding: 18px 85px;
}




.fixed-container {

    max-width: 1600px;

    margin: 0 auto;

    padding: 0px 20px;
}

.content-container {
    max-width: 1200px;

    margin: 0 auto;

    padding: 0px 20px;
}



.nav-item {
    transition: color 0.5s;
}

.hovered, .nav-item:hover {
    color:var(--orange);
}

.header {
    background-color: #000;
    color:#fff;
}

.sub-header {
    font-size:48px;
    font-weight: 400;
}

.sub-sub-header {
    font-size:24px;
    font-weight: 400;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-top: 15px;
}

.logo {
    position:relative;
}

.header-logo {
    width: 7%;
}

.page-header, .logo-header {
    font-size:16px;
    position:absolute;
    top: 1px;
    letter-spacing: 1.1px;
    text-align: center;
    line-height: 1.45;
}

.header-nav {
    padding-left: 37px;
    width: 49%;
}

.header__nav-list {
    display:flex;
    padding-top: 15px;
    flex-wrap:wrap;
    justify-content:space-between;
}

.header__nav-item {
    padding: 0px 27px;
    letter-spacing: 0.8px;
}

.header__copyright {
    padding-top:15px;
    /* align-self: flex-end; */
    width: 44%;
    text-align: right;
}

.welcome-section {
    background-image: url('../assets/giantpanda.jpg');
    background-repeat: no-repeat;
    background-position: 30% 100%;
}

.welcome-content {
    display:flex;
    /* justify-content:flex-end; */
    flex-direction: column;
    /* width: 79%; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
    padding-bottom: 100px;
}

.header-bg {
    background-image: url('../assets/welcome-elipse.png');
    background-repeat: no-repeat;
    border:1px transparent solid;
    border-radius: 295px;
    padding: 0;
    padding-top: 85px;
    padding-left: 0px;
    font-weight: 100;
    /* margin-right: 89px; */
    width: 57.3%;
    background-position: 46% 56%;
    align-self: flex-end;
}

.header-span {
    color: var(--yellow);
}


.main-header {
    font-size: 106px;
    line-height: 0.75;
    color: #fff;
    text-align: center;
    margin-left: 164px;
}

.welcome-btn {
    /* width: 22%; */
    margin-top: 50px;
    /* visibility: hidden; */
    align-self: center;
    margin-top: 60px;
    margin-left: 171px;
    padding: 18px 92px;
}

.about-section {
    background-color: #fff;
    padding-top: 140px;
    padding-bottom: 100px;
    position: relative;
}

.about-container {
    color:#000;
    font-size:16px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-info {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about-illustration {
    object-fit:cover;
}

.about-article {
    display:flex;
    width: 40%;
    flex-wrap: wrap;
}

.article-internal-header {
    padding: 31px 0 13px 0;
}

.article-fragment {
    padding: 21px 0;
    line-height: 1.35;
}

.about-slider {
    position:relative;
    padding-top: 159px;
    padding-bottom: 80px;
}

.slider-btn {
    position:absolute;
    border-radius: 35px;
    padding: 20px;
    top: 50.7%;
    font-weight: 700;
}

.prev-btn {
    right: 101.9%;
}

.next-btn {
    left: 101.6%;
}

.slider-container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:30px;
    row-gap:20px;
}

.slider-card {
    border:1px solid #FA6F32;
    border-radius:5px;

}

.card-content {
    padding: 5px 5px 10px 13px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    
}

.card-image {
    transition: transform 1s;
}

.card-image:hover {
    transform: scale(1.03);
}

.card-text-content {
   
    margin-left: 10px;
    
}

.card-header {
    font-size:16px;
}

.card-description {
    font-size:15px;
    font-weight: 400;
}

.food-icon {
    padding:20px;
    background-repeat: no-repeat;
    

}

.herb-icon {
    background-image:url('../assets/section-about/slider-content/herbivorous_icon.jpg');
}

.meat-icon {
    background-image:url('../assets/section-about/slider-content/predator_icon.jpg');
    padding-left: 31px;
}

.about-btn {
    padding: 18px 58px;
    align-self:center;
}

.about-decoration {
    position:absolute;
    pointer-events: none;
}

.top-flower {
    top: 0.65%;
    right:0;
}

.bottom-left-flower {
    bottom: 0;
    left:0;
}

.bottom-right-flower {
    bottom:0;
    right:0;
}

.zoos-section {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding-top: 70px;
    padding-bottom: 100px;
}

.zoos-container {
    background:  rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
    max-width: 1160px;
}

.offer-text-part {
    padding-left: 99px;
}

.offer-header {
    color: #FE9013;
    text-align:center;
    padding-top: 39px;
}

.appeal-header {
    padding:31px 0;
}

.appeal-important {
    font-size:15px;
    font-weight: 700;
    padding-top: 11px;
    letter-spacing: 0.4px;
}

.appeal-explanation {
    padding-top: 13px;
    width: 82%;
}

.appeal-link {
    border-bottom: 1px solid var(--orange);
    padding-bottom:3px;

}

.offer-sub-header {
    font-size:36px;
    text-align:center;
    padding-top: 64px;
}

.cards-container {
    display:flex;
    padding-top: 42px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.offer-card__image {
    background-color: #fff;
    padding: 83px;
    background-repeat: no-repeat;
    border:1px solid #F9804B;
    border-radius:5px;
    background-position: center;
    margin-bottom: 30px;
}

.card-separator {
    padding: 0px 30px;
    padding-top: 60px;
}

.offer-card-pay {
    background-image: url('../assets/section-donate/pay.svg');
}

.offer-card-wait {
    background-image: url('../assets/section-donate/zoo.svg');
}

.offer-card-see {
    background-image: url('../assets/section-donate/monkey.svg');
}

.offer-card__desc {
    font-weight:400;
    font-size:16px;
    line-height: 1.4;
}

.offer-btn {
   
    margin-top: 60px;
    padding: 18px 75px;
}

.testimonials-section {
    background-color: #fff;
    padding-top: 141px;
    padding-bottom: 180px;
    position: relative;
    overflow: hidden;
}

.testimonials-bg-img {
    position:absolute;
    top: 70%;
    left: 84.54%;
}

.testimonials-container {
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
}

.testimonials-header {
    font-size: 36px;
    text-align:center;
    width: 100%;
}

.feedback-container {
    padding-top: 49px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-bottom: 30px;
}

.feedback-cards {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    column-gap:30px;
    grid-auto-rows: 391px;
    padding-bottom: 21px;
}



.feedback-card {
    background:linear-gradient(#fff,#fff) padding-box,
linear-gradient(to right,rgba(254, 189, 171, 0.74),rgba(243, 169, 248, 0.66)) border-box;
    border: 2px solid transparent;
    border-radius: 20px;
    overflow:hidden;
    padding: 14px;
}

.feedback-card__user-info {
    display: flex;
}

.user-info__avatar {
    align-self:flex-start;
}

.user-info__text-content {
    display:block;
    padding-left: 10px;
}
.user-info__name {
    font-weight:400;
}

.user-info__where-and-when {
    color:gray;
    display: flex;
    font-weight: 400;
    font-size: 18px;
    align-items: flex-start;
    align-content: flex-start;
}

.user-info__where {font-weight: 400;}

.user-info__separator {
    font-weight: 400;
    padding: 0 5px;
}

.user-info__when {
    font-weight: 400;
}

.feedback-text {
    padding-top: 6px;
    letter-spacing: 0.3px;
    line-height: 1.3;
    font-size: 14px;
}

.feedback-range {
    width: 52%;
    overflow:hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.feedback-range::-webkit-slider-runnable-track {
    height:8px;
    border:1px solid var(--orange);
    border-radius:5px;
}

.feedback-range::-webkit-slider-thumb {
    width: 8px;
        appearance: none;
        height: 10px;
        cursor: ew-resize;
        background: transparent;
        box-shadow: -58px 0 0 58px var(--orange);
}

.nooseletter-section {
    padding-top: 40px;
    background-color: #000;
    padding-bottom: 20px;
}

.nooseletter-container {
    display:flex;
    justify-content:space-between;
}

.subscribe-header {
    color:#fff;
    font-size:24px;
    padding-bottom: 14px;
}

.subscribe-input {
    border: 1px solid var(--orange);
    padding: 11px;
    background-color: #000;
    padding-right: 55px;
    color:#fff;
}

.subscribe-input::placeholder {
    color:#fff;
    font-size:16px;
    
}

.subscribe-btn {
    border: 1px solid #000;
    border-radius: 5px;
    color:#000;
    font-size:16px;
    font-weight: 400;
    padding: 10px 38px;
    margin-left: 10px;
    background-color: var(--light-gray);
    transition: color 0.5s, border 1s;
}

.subscribe-btn:hover {
    border: 1px solid var(--green);
    border-radius: 5px;
    color: var(--green);
    
    background-color: var(--light-gray);
    
}

.on-error {
    color: var(--red);
    border: 1px solid var(--red);

}



.donate-btn {
    
padding: 18px 73px;
    
margin-top: 32px;
    
margin-left: 7px;
}

.footer-donate-btn {

padding: 18px 50px;
    
margin: 0;
    
margin-top: 64px;
}

.footer-logo {
    width: 28%;
    color: white;
}

.footer-container {
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
}

.footer-nav {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    /* width: 33%; */
    margin-left: 85px;
}

.footer__nav-list {
    display: flex;
    color: white;
    padding-bottom: 16px;
}

.socnet-list {
    color: #fff;
    padding-top: 29px;
}

.socnet-item {
    margin-bottom: 17px;
}

.socnet-link {
    padding: 0 20px;
    background-repeat: no-repeat;
    padding: 6px 38px;
}

.facebook-link {
    background-image: url('../assets/facebook.svg');
}

.instagram-link {
    background-image: url('../assets/instagram.svg');
}

.twitter-link {
    background-image: url('../assets/twitter.svg');
}

.youtube-link {
    background-image: url('../assets/youtube.svg');
}

.footer-copyright {
    color:#fff;
    padding-bottom: 10px;
    line-height: 1.9;
    font-weight: 100;
}

.footer__nav-item {
    margin: 0 29px;
}

.donate__welcome-section {
    padding-top: 386px;
    background-position: 0 50%;
}

.disclaimer-header {
    color: #fff;
    font-size: 35px;
    letter-spacing: 0.55px;
    padding-bottom: 12px;
}

.donate__disclaimer-section {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding-top: 43px;
    padding-bottom: 181px;
}



.disclaimer-desc {

/* letter-spacing: 0.039px; */

font-weight: 500;

line-height: 1.4;

padding-bottom: 46px;
}

.goalboard {
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding-top: 40px;
    padding-bottom: 63px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 18px;
}

.donate__sub-sub-header {
    font-size: 36px;
    padding-bottom: 62px;
}

.goalboard-header {
    font-size: 49px;
    text-align:center;
    letter-spacing: 0;
    /* padding-left: 342px; */
}

.goalboard-sub-header {padding-right: 134px;padding-top: 19px;}

.goalboard-counter__container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    width: 47%;
    padding-bottom: 49px;
}

.goalboard-counter {

/* display: flex; */

/* flex-wrap: wrap; */

/* justify-content: center; */

/* flex-direction: column; */

padding-top: 31px;

/* margin-right: 40px; */

/* padding-right: 126px; */
}

.goalboard-counter__source {
    font-size: 72px;
    display: block;
    text-align: center;
    font-weight: 500;
    padding-top: 8px;
    padding-left: 0px;
}

.goalboard-counter__desc {
    font-size: 16px;
}

.goalboard-multiply-sign {
    font-weight: 900;
    padding-top: 24px;
    width: 13%;
    /* text-align: center; */
    padding-left: 3px;
    font-size: 14px;
}

.goalboard-pet-icon {

padding-right: 15px;
}


.scale-header {
    font-size: 16px;
    font-weight: 400;
    padding-left: 5px;
}

.scale {
    position:relative;
    padding-top: 19px;
    border-radius: 0;
    padding-bottom: 12px;
}

.scale-highlited {
    position: absolute;
    
    border: 2px solid var(--orange);
    border-radius: 40px;
}

.scale-highlited-outer {
    padding: 19px;
    top: 11px;
    left: 270px;
}

.scale-highlited-inner {
    padding: 8.5px;
    top: 8px;
    left: 10px;
}

.points-container {
    display:flex;
    font-size: 24px;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.scale-point {
    font-weight:700;
    min-width: 13.3%;
}

.goalboard-interactive {
    
padding-top: 53px;
    
display: flex;
    
flex-direction: column;
}

.amount-keeper {
    background-image: url('../assets/page-donate/dollar.png');
    background-repeat:no-repeat;
    background-position: 96% 50%;
    padding: 17px 8px;
    width: 89%;
    margin-left: 17px;
    border: 1px solid var(--orange);
}

.amount-keeper::-webkit-outer-spin-button,
.amount-keeper::-webkit-inner-spin-button {
  appearance: none;
    margin: 0;
}

.amount-keeper::placeholder {
    font-size:16px;
}



.radio-option:checked + label:before {
	background: var(--green) border-box;
	margin: 1px 1px;
	padding: 8px;
	border: none;
}

.radio-container {
    display: flex;
    padding-top: 28px;
    justify-content: space-between;
    width: 58.5%;
    margin-left: 68px;
}

.radio-option {
    display:none;
}

label {
    
    position: relative;
    
}

label:before {
    content:"";
    position: absolute;
    padding: 8px;
    border: 1px solid var(--orange);
    border-radius: 20px;
    right: 110%;
}
.goalboard-link {
    font-size: 16px;
    padding-top: 31px;
    padding-left: 5px;
}

.nooseletter-btn {
    
margin-top: 63px;
    
padding: 18px 51px;
}


